body{
    /*background-color:  rgb(230, 222, 210);*/
    background-color: #fff3f3;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.header{
    grid-area: hd;
    grid-column: 1/10;
    grid-row: 1/1;
}

.sidebar{
    grid-area: sb;
    grid-column: 9/10;
    /*padding: 10px;*/
}

.map-content{
    grid-area: map;
    grid-column: 1/5;
    grid-row: 2/8;

}

.chart-content{
    grid-area: charts;
    grid-column: 5/9;
    grid-row: 2/8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

* {
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        "hd"
        "map charts sb";
    border-radius: 3px;
    background-color:#fff3f3;
    width: 98vw;
    height: 96vh;
    margin: 0 auto;
    grid-gap: 10px;
}

.wrapper > div {
    border-radius: 6px;
    background-color: #8c75de46;
    padding: 1em;
    color: #fcefeb;
    float: left;
}

h1{
    font-family: serif;
    text-align: center;
    margin-top: 5vh;
    letter-spacing: 8px;
    color: rgba(36, 37, 102, 0.815);
    font-size: 5vh;
}

h2{
  font-family: serif;
  text-align: center;
  letter-spacing: 6px;
  color: rgba(36, 37, 102, 0.815);
  position: center;
  margin-top: 1vh;
  margin-bottom: 2vh;
}


.jud_prop{
    grid-area: map;
    margin-top: 10vh;
    margin-left: 30px;
    width: 80%;
}

.responsive_img{
    height: auto;
    width: 100%;
}

#hover_img:hover {
    box-shadow: 0 0 2px 1px rgba(7, 103, 134, 0.5);
  }

.reg_prop{
    display: block;
    grid-area: sb;
    width: 8vw;
    height: auto;
    top: 14vh;
    left: 84vw;  
    border-radius: 1px; 
    filter: grayscale(95%);
    padding: 0;
}

.tara_sb{
  display: block;
  grid-area: sb;
  width: 8vw;
  height: auto;
  top: 14vh;
  left: 84vw;  
  border-radius: 1px; 
  filter: grayscale(95%);
  padding: 0;
  margin-top: 30px;
}

.tara_prop{
    grid-area: sb;
    width: 8vw;
    height: auto;
    top: 40vh;
    left: 84vw;
    border-radius: 1px; 
    padding: 0;
    margin-top: 30px;
}


@keyframes fillup{
    from{stroke-dasharray: 0 100;}
    to{
        stroke-dasharray: 5 100;
    }
}
/* p{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(20, 86, 145);
  margin-top: 30px;
  font-weight: bolder;
  font-size: 3vh;
  margin-left: -30px;

} */
  .pie_position{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;  
    overflow-x: hidden;
    align-self: center;
    margin-left: 4vw;
    margin-top: 30px;
  }

li{
  margin-bottom: 105px;
}

li:first-child{
  margin-top: 30px;
}

ul {
    list-style-type: none;
}

 .container {
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-family: serif;
    text-align: left;
    margin-left: 20%;
    font-weight: bold;
    color: rgb(20, 86, 145);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

.container input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: sticky;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
  }
  

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  

  .container .checkmark:after {
    display: charts;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @media only screen and (min-width: 350px) and (max-width: 700px) and (orientation : landscape) {
    .tara_prop {
        margin-top: 5vh;
        margin-left: 6vw;
        width: 80%;
    }

    .header{
      grid-area: hd;
      grid-column: 2/8;
      grid-row: 1/1;
    }

    .map-content{
     grid-area: map;
     grid-column: 2/8;
     grid-row: 2/6;
     }
 
     .chart-content{
         grid-area: charts;
         grid-column: 2/8;
         grid-row: 6/10;
     }
 
    .wrapper {
     grid-template-areas:
         "hd sb"
         "map" 
         "charts";
    }

    .sidebar{
      position: fixed;
      grid-area: sb;
      grid-column: 7/7;
      right: 0px;
  }
 
 }

 @media only screen and (min-width: 350px) and (max-width: 700px) and (orientation : portrait) {
  .tara_prop {
      margin-top: 5vh;
      margin-left: 6vw;
      width: 80%;
  }

  .header{
    grid-area: hd;
    grid-column: 2/8;
    grid-row: 1/1;
  }

  .map-content{
   grid-area: map;
   grid-column: 2/8;
   grid-row: 2/6;
   }

   .chart-content{
       grid-area: charts;
       grid-column: 2/8;
       grid-row: 6/10;
   }

  .wrapper {
   grid-template-areas:
       "hd sb"
       "map" 
       "charts";
  }

  .sidebar{
    position: fixed;
    grid-area: sb;
    grid-column: 7/7;
    right: -13px;
}

.tara_sb{
  margin-left: -10px;
  width: 10vw;
}

.reg_prop {
  margin-left: -10px;
  width: 10vw;
}

}
